<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645223807259-pmsc7pljco7u8coh01d164i1s5v7fld4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645223807259-pmsc7pljco7u8coh01d164i1s5v7fld4</string>
	<key>API_KEY</key>
	<string>AIzaSyC3DuyEq2MvsRz23sJUaiJCSExupiMTB8g</string>
	<key>GCM_SENDER_ID</key>
	<string>645223807259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.www.winelist2</string>
	<key>PROJECT_ID</key>
	<string>wineholic2-fb826</string>
	<key>STORAGE_BUCKET</key>
	<string>wineholic2-fb826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645223807259:ios:c8c9ece5b418afb4e93bbe</string>
	<key>DATABASE_URL</key>
	<string>https://wineholic2-fb826.firebaseio.com</string>
</dict>
</plist>